//COLORS
$color-primary: #28b485;
$color-primary-light: #7ed56f;
$color-primary-dark: #55c57a;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiairy-light: #2998ff;
$color-tertiairy-dark: #5643fa;

$color-dark: #777;
$color-azure: azure;
$color-black-shadow: #000;

$color-grey-light: #f7f7f7;

//GRID
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Font-sizes
$default-fontSize: 1.6rem;
