.card {
  perspective: 150rem;
  height: 50rem;
  position: relative;

  &__side {
    height: 50rem;
    transition: all 0.12s ease;
    font-size: 2rem;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-dark, $alpha: 0.15);

    &--front {
      background-color: blue;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }
    &--2 {
      background-image: url(../img/nat-5.jpg);
    }
    &--3 {
      background-image: url(../img/nat-5.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
    color: $color-azure;
    position: absolute;
    top: 12rem;
    right: 2rem;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
  }

  &__details {
    display: flex;
    justify-content: center;
    color: rgba($color-azure, $alpha: 0.8);

    ul {
      list-style: none;
      width: 80%;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-dark;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price {
    padding-top: 2rem;
    color: $color-azure;

    &--only {
      font-weight: 400;
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    &--value {
      font-size: 6rem;
      font-weight: 100;
      margin-bottom: 4rem;
    }
  }
}
